//===============================================================================
// This file was created using VAPP, the Berkeley Verilog-A Parser and Processor.   
// Last modified: %s
// VAPP version: %s
//===============================================================================
